<div>
<h3> Add new sick-list: </h3>
<form  class='col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3' #addListForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group">
  <label for="dateFrom">From:</label>
  <input type="text" id="dateFrom" class="form-control"
         [(ngModel)]="model.dateFrom"
         name="dateFrom" #dateFrom="ngModel"
         pattern="[0-9]{2}?\.[0-9]{2}?\.[0-9]{4}"
         required>
    <div [hidden]="dateFrom.valid || dateFrom.pristine"
         class="alert alert-danger">

      <div [hidden]="!dateFrom.hasError('required')">Filed is required</div>
      <div [hidden]="!dateFrom.hasError('pattern')">Date must be in format dd.mm.yyyy</div>
    </div>
  </div>
  <div class="form-group">
    <label for="dateTo">To:</label>
    <input type="text" id="dateTo" class="form-control"
           [(ngModel)]="model.dateTo"
           name="dateTo" #dateTo="ngModel"
           pattern="[0-9]{2}?\.[0-9]{2}?\.[0-9]{4}"
           required>
    <div [hidden]="dateTo.valid || dateTo.pristine"
         class="alert alert-danger">
      <div [hidden]="!dateTo.hasError('required')">Filed is required</div>
      <div [hidden]="!dateTo.hasError('pattern')">Date must be in format dd.mm.yyyy</div>

    </div>
  </div>
  <button type="submit"class="btn btn-success" [disabled]="!addListForm.form.valid">Add</button>
</form>
</div>
